<form method=post action=https://api.sandbox.paypal.com/nvp>
  <input type=hidden name=USER value=zhao.elton-facilitator_api1.hotmail.com>
  <input type=hidden name=PWD value=PNZ7K6PARRX343FV>
  <input type=hidden name=SIGNATURE value=AM3mIjmWOHp-bmr3Pn8aeiRVNwpoA2qmXIO10QsFFBErnVeh7mQGabTr>


  <input type=hidden name=VERSION value=<XX>.0>
  <input type=hidden name=PAYMENTREQUEST_0_PAYMENTACTION value=Sale>
  <input name=PAYMENTREQUEST_0_AMT value=19.95>
  <input type=hidden name=RETURNURL value=https://example.com>
  <input type=hidden name=CANCELURL value=https://www.YourCancelURL.com>
  <input type=submit name=METHOD value=SetExpressCheckout>
</form>